* {
	box-sizing: border-box;
}

h1 {
	color: #0059ff;
	text-align: center;
}

.error404 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error404 img {
	width: 400px;
}

.error-message {
	color: red;
}

/* div#products-list {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
} */

.card {
	width: 18rem;
	margin: 1rem;
}

.products_realtime {
	display: flex;
}

.formularioSuperior {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
}

.catalogo {
	display: ruby;
}

.container-products-table__pagination,
.carrito {
	text-align: center;
}
